html{
    border: 0;
    padding:0;
    margin:0;
}
@import '../admin-layout/vendor/fontawesome-free/css/all.min.css';
@import '../admin-layout/css/sb-admin-2.min.css';
.logout{
    font-size:10px;
    margin-left: 20px;
}