

    <section class="main-content">
        <div class="container">
            <h1>List Products</h1>
                <a href="admin/products/add"><button class="btn btn-success btn-sm mrt">Add Product</button></a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Desc</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products , index as i">
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            <div class="user-info">
                                <div class="user-info__img">
                                    <img src="{{product.img}}" alt="User Img">
                                </div>
                            </div>
                        </td>
                        <td>
                            {{product.name}}
                        </td>
                        <td>{{product.category}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.desc}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm mrr" (click)="HandleRemove(product._id)">Remove  </button><a href="/admin/products/{{product._id}}/edit"><button class="btn btn-success btn-sm">Edit</button></a>
                        </td>
                       
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </section>

